@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 199 41% 98%;
    --foreground: 199 63% 0%;
    --muted: 169 36% 88%;
    --muted-foreground: 169 1% 31%;
    --popover: 199 41% 98%;
    --popover-foreground: 199 63% 0%;
    --card: 199 41% 98%;
    --card-foreground: 199 63% 0%;
    --border: 199 3% 93%;
    --input: 199 3% 93%;
    --primary: 199 83% 27%;
    --primary-foreground: 0 0% 100%;
    --secondary: 169 83% 27%;
    --secondary-foreground: 0 0% 100%;
    --accent: 229 83% 27%;
    --accent-foreground: 229 83% 87%;
    --destructive: 12 95% 27%;
    --destructive-foreground: 12 95% 87%;
    --ring: 199 83% 27%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 199 30% 4%;
    --foreground: 199 34% 97%;
    --muted: 169 36% 12%;
    --muted-foreground: 169 1% 69%;
    --popover: 199 30% 4%;
    --popover-foreground: 199 34% 97%;
    --card: 199 30% 4%;
    --card-foreground: 199 34% 97%;
    --border: 199 3% 12%;
    --input: 199 3% 12%;
    --primary: 199 83% 27%;
    --primary-foreground: 0 0% 100%;
    --secondary: 169 83% 27%;
    --secondary-foreground: 0 0% 100%;
    --accent: 229 83% 27%;
    --accent-foreground: 229 83% 87%;
    --destructive: 12 95% 48%;
    --destructive-foreground: 0 0% 100%;
    --ring: 199 83% 27%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
